{% extends "home/base_template.html" %}
{% load static %}

{% block content %}
<!-- Card containing Chit -->
<div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
    <div class="card shadow-lg"
        style="width: 60%; padding: 30px; border: 3px solid #2176FF; border-radius: 15px; position: relative; background: #ffffff;">
        <!-- Question Header -->
        <h1 class="card-title"
            style="font-size: clamp(24px, 5vw, 48px); color: #2176FF; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); width: 100%; text-align: center; white-space: normal; margin: 20px 0;">            {{ feedback }}
        </h1>
        <div class="d-flex flex-column justify-content-center align-items-left" style="margin-top: 80px;"
            style="font-size: clamp(16px, 2.5vw, 20px); line-height: 1.5; text-align: center; margin-top: 40px; width: 90%;">
            <p>Tested phrase: "{{ question }}"</p>
            <p>Your Answer: "{{ user_answer }}"</p>
            <p>Correct Answer: "{{ correct_answer }}"</p>
        </div>
        <!-- Speech Bubble -->
        <div class="d-flex flex-column justify-content-center align-items-left" style="margin-top: 20px;">
            <div class="container mt-0">
                <div class="speech-bubble">
                    "Don't give up, try again!"
                </div>
            </div>
            <p></p>
            <p></p>
            <!-- Chit -->
            <p class="card-text mb-4" style="color: #31393C; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">(´°̥̥̥ω°̥̥̥｀)</p>
        </div>
    </div>
</div>

<div class="center-button">
    <form method="POST" action="{% url 'next_question' %}">
        {% csrf_token %}
        <button class="btn btn-warning" type="submit">Next Question</button>
    </form>
</div>

{% endblock content %}
