{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="" UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChitChatty</title>

  <!-- Bootstrap, Stylesheets, CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
</head>

<!-- Splash Screen -->

<body style="background-color: #a2d6f9;">

  <!-- Navbar Content -->
  <nav class="navbar navbar-light floating-navbar" id="navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <!-- Left Hand Side -->
      <div class="d-flex align-items-center">
        <!-- Flag -->
        <a class="navbar-brand" href="#">
          <img src="{% static 'home/images/Spanish flag.png' %}" width="60" height="50" alt="Spanish flag"
            style="border-radius: 10px;"> <!-- Flag -->
        </a>
        <!-- Dropdown Menu -->
        <div class="dropdown ms-1">
          <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Difficulty
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
            <li><a class="dropdown-item" href="#">Easy</a></li>
            <li><a class="dropdown-item" href="#">Medium</a></li>
            <li><a class="dropdown-item" href="#">Hard</a></li>
          </ul>
        </div>
        <!-- Dropdown Menu -->
        <div class="dropdown ms-2">
          <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
            data-bs-toggle="dropdown" aria-expanded="false">
            Goal
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
            <li><a class="dropdown-item" href="#">Travel</a></li>
            <li><a class="dropdown-item" href="#">Fluency</a></li>
            <li><a class="dropdown-item" href="#">For Fun</a></li>
          </ul>
        </div>
      </div>

      <!-- Logo -->
      <a class="navbar-brand ms-0" href="#" style="margin: 0 240px;">
        <img src="{% static 'home/images/whiteLogo.png' %}" width="70" height="60" alt="">
      </a>

      <!-- Profile Icon -->
      <!-- TEMPORARY: when user is logged in, clicking the person circle is how they log out -->
      <div style="display: flex; align-items: center;">
        {% if user.is_authenticated %}
        <span class="text-white" style="font-weight: bold; margin-right: 10px;">Welcome, {{ user }}</span>
        <a href="{% url 'logout' %}">
          <i class="bi bi-person-circle text-white" style="font-size: 2rem;"></i>
        </a>
        {% else %}
        <a href="{% url 'login-page' %}">
          <i class="bi bi-person-circle text-white" style="font-size: 2rem;"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>

  <!-- Bootstrap JS for dropdown to work -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

{% block content %}
{% endblock content %}

</html>