{% extends "home/base_template.html" %}

{% block content %}

<div class="container text-center mt-5">
    <h1 class="display-4" style="color: #31393C;">Welcome to ChitChatty!</h1>
    <p class="lead" style="color: #31393C;">Your go-to platform for enhancing your language skills.</p>
</div>

<!-- Next Quiz section -->
<div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
    <div class="card shadow-lg"
        style="width: 60%; padding: 30px; border: 3px solid #2176FF; border-radius: 15px; position: relative; background: #ffffff;">
        <!--Next Quiz header and placement -->
        <h1 class="card-title"
            style="position: absolute; top: 20px; left: 30px; font-size: 48px; color: #2176FF; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">
            Next Quiz</h1>

        <!-- Quiz information placement -->
        <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 100px;">
            <!-- Quiz Description -->
            <h4 class="text-primary mt-4"
                style="font-size: 32px; color: #33A1FD; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">{{ quiz_title }}
            </h4>
            <p class="card-text mb-4" style="color: #31393C; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">{{
                quiz_description }}</p>

            <!-- Play Button attributes -->
            <a href="{% url 'quiz' %}" class="btn rounded-circle d-flex justify-content-center align-items-center"
                style="width: 120px; height: 120px; background: #FDCA40; border: none; box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3); transition: all 0.3s ease-in-out;">
                <i class="bi bi-play-fill" style="font-size: 60px; color: white; margin-left: 5px;"></i>
            </a>
        </div>
    </div>
</div>
{% endblock content %}