{% extends "home/base_template.html" %}
{% load static %}


{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Today's Daily Lesson: Animals</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <div class="col">
            <div class="card" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/animals/cat.png' %}" class="card-img-top" alt="Cat">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>Cat</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/animals/chicken.png' %}" class="card-img-top" alt="Chicken">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>Chicken</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/animals/cow.png' %}" class="card-img-top" alt="Cow">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>Cow</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/animals/duck.png' %}" class="card-img-top" alt="Duck">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>Duck</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/animals/goat.png' %}" class="card-img-top" alt="Goat">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>Goat</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/animals/horse.png' %}" class="card-img-top" alt="Horse">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>Horse</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/animals/pig.png' %}" class="card-img-top" alt="Pig">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>Pig</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/animals/sheep.png' %}" class="card-img-top" alt="Sheep">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>Sheep</strong></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Centered Button -->
    <div class="text-center mt-4">
        <a href="{% url 'index' %}" class="btn btn-lg mt-3" style="background-color: #FFC600; color: black;">
            Back to Home
        </a>
    </div>
</div>
{% endblock %}
