{% extends "home/base_template.html" %}
{% load static %}
{% load custom_tags %}


{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Today's {{ selected_language|capfirst }} Lesson: Weather</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/weather/cloudy.png' %}" class="card-img-top" alt="cloudy">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Cloudy" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/weather/lightning.png' %}" class="card-img-top" alt="lightning">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Lightning" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/weather/rainbow.png' %}" class="card-img-top" alt="rainbow">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Rainbow" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/weather/rainy.png' %}" class="card-img-top" alt="rainy">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Rainy" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/weather/snowy.png' %}" class="card-img-top" alt="snowy">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Snowy" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/weather/sunny.png' %}" class="card-img-top" alt="sunny">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Sunny" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/weather/tornado.png' %}" class="card-img-top" alt="tornado">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Tornado" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/weather/windy.png' %}" class="card-img-top" alt="windy">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Windy" selected_language %}</strong></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Centered Button -->
    <div class="text-center mt-4 mb-5">
        <a href="{% url 'index' %}" class="btn btn-lg mt-3" style="background-color: #FFC600; color: black;">
            Back to Home
        </a>
    </div>
</div>
{% endblock %}
