{% extends "home/base_template.html" %}
{% load static %}
{% load custom_tags %}


{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Today's {{ selected_language|capfirst }} Lesson: Insects</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/insects/ant.png' %}" class="card-img-top" alt="Ant">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Ant" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/insects/butterfly.png' %}" class="card-img-top" alt="Butterfly">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Butterfly" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/insects/dragonfly.png' %}" class="card-img-top" alt="Dragonfly">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Dragonfly" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/insects/firefly.png' %}" class="card-img-top" alt="Firefly">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Firefly" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/insects/fly.png' %}" class="card-img-top" alt="Fly">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Mosquito" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/insects/grasshopper.png' %}" class="card-img-top" alt="Grasshopper">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Grasshopper" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/insects/ladybug.png' %}" class="card-img-top" alt="Ladybug">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Ladybug" selected_language %}</strong></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary border-0" style="background-color: #2176FF;">
                <img src="{% static 'home/images/daily_lesson/insects/spider.png' %}" class="card-img-top" alt="Spider">
                <div class="card-body text-center">
                    <p class="card-text fs-3 text-white"><strong>{% translate "Spider" selected_language %}</strong></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Centered Button -->
    <div class="text-center mt-4 mb-5">
        <a href="{% url 'index' %}" class="btn btn-lg mt-3" style="background-color: #FFC600; color: black;">
            Back to Home
        </a>
    </div>
</div>
{% endblock %}
